@font-face {
  font-family: 'Helveticaneuecyr';
  src: url("fonts/helveticaneuecyr-light.ttf");
}

.container {
  font-family: 'Helveticaneuecyr';
  margin: 0 auto;
  max-width: 320px;
}

.container .orangeSquare {
  display: none;
}

.container #modal {
  position: absolute;
  background-color: #eac428;
  display: none;
  height: 100vh;
  z-index: 20;
}

.container #modal img {
  max-width: 100%;
}

.container #modal p {
  text-align: start;
  font-size: 50px;
}

.container #modal p:hover {
  cursor: pointer;
}

.container a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #eac428;
          text-decoration-color: #eac428;
  color: #231f20;
}

.container H1, .container h2, .container h3, .container h4, .container h5 {
  font-family: 'Montserrat';
}

.container h2, .container h3 {
  letter-spacing: 6px;
}

.container header {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 5px;
}

.container header img {
  max-width: 100%;
}

.container header .photo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.container header .hello {
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  grid-row: 1/1;
}

.container header .hello .orange {
  display: none;
}

.container header .hello h1 {
  margin-top: 0;
  text-align: center;
  position: relative;
}

.container header .hello .name {
  color: #eac428;
}

.container header .contacts {
  max-width: 90%;
  margin: 0 auto;
  padding-left: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  grid-row: 2/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eac428;
}

.container header .contacts h3 {
  margin: 0;
}

.container header .contacts .phone, .container header .contacts .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container header .contacts .phone p, .container header .contacts .email p {
  margin: 0 0 5px 5px;
  line-height: 30px;
}

.container .SkLg .skills {
  margin: 0 auto;
  max-width: 75%;
}

.container .SkLg .skills h3 {
  margin-bottom: 5px;
  border-bottom: 2px solid #eac428;
}

.container .SkLg .skills .skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .SkLg .skills .skillsList p {
  margin-bottom: 0;
}

.container .SkLg .skills .skillsList div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .SkLg .skills .skillsList .scillsClass {
  width: 80px;
  height: 10px;
  background-color: yellow;
  border-bottom: 3px solid white;
}

.container .SkLg .skills .skillsList .htmlCss {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #231f20), color-stop(30%, #eac428));
  background: linear-gradient(to right, #231f20 70%, #eac428 30%);
}

.container .SkLg .skills .skillsList .boot {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #231f20), color-stop(50%, #eac428));
  background: linear-gradient(to right, #231f20 50%, #eac428 50%);
}

.container .SkLg .skills .skillsList .nodeCl {
  background: -webkit-gradient(linear, right top, left top, color-stop(70%, #eac428), color-stop(30%, #231f20));
  background: linear-gradient(to left, #eac428 70%, #231f20 30%);
}

.container .SkLg .languages {
  margin: 0 auto;
  max-width: 75%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.container .SkLg .languages h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column-align: start;
      justify-self: start;
  border-bottom: 2px solid #eac428;
  width: 100%;
}

.container .SkLg .languages div {
  background-color: #eac428;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 70px;
  height: 70px;
}

.container .SkLg .languages div p {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: 5px;
}

.container .SkLg .languages div p:last-child {
  text-align: end;
}

.container .SkLg .languages .english {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.container .SkLg .languages .polish {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  grid-row: 2/2;
}

.container .SkLg .languages .polish p {
  margin-left: 5px;
}

.container .SkLg .languages .ukrainian {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.container .SkLg .languages .ukrainian p:first-child {
  margin-left: -9px;
  margin-top: 18px;
}

.container .aboutMe {
  margin: 0 auto;
  max-width: 75%;
}

.container .aboutMe article {
  margin-bottom: 25px;
}

.container .aboutMe article h3 {
  margin-bottom: 0;
  border-bottom: 2px solid #eac428;
}

.container .aboutMe article p {
  margin-bottom: 0;
  margin-top: 5px;
}

.container .aboutMe .certificats .certificatsCont div {
  margin-top: 5px;
}

.container .aboutMe .certificats .certificatsCont div img {
  width: 100%;
}

.container .aboutMe .projects ul {
  margin: 0;
}

.container footer {
  display: none;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  .container header .hello h1 {
    margin-top: 25px;
  }
  .container .SkLg .skills .skillsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .SkLg .skills .skillsList .scillsClass {
    margin-left: 5px;
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
  .container header {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .container header .photo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    font-size: 0px;
  }
  .container header .hello {
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .container header .hello h1 {
    margin: 0;
  }
  .container header .contacts {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .container .SkLg .skills {
    max-width: 100%;
  }
  .container .SkLg .languages {
    max-width: 100%;
  }
  .container .aboutMe {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container #modal {
    width: 1024px;
    padding: 10% 0 0 10%;
  }
  .container .SkLg .languages .english {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .container .SkLg .languages .polish {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .container .SkLg .languages .polish p {
    margin-left: 5px;
  }
  .container .SkLg .languages .ukrainian {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .container .aboutMe {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 2fr 2fr 1fr;
        grid-template-rows: 0.5fr 2fr 2fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container .aboutMe .target {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .container .aboutMe .work {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .container .aboutMe .education {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    border-left: 2px solid #eac428;
  }
  .container .aboutMe .certificats {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3/3;
  }
  .container .aboutMe .certificats .certificatsCont {
    padding: 0 5% 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .aboutMe .certificats .certificatsCont div {
    width: 40%;
  }
  .container .aboutMe .projects {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    grid-row: 4/4;
  }
  .container .aboutMe .hobbies {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    grid-row: 4/4;
    border-left: 2px solid #eac428;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .container #modal {
    width: 1024px;
    padding: 10% 0 0 10%;
  }
  .container header {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3fr 1fr 1fr;
        grid-template-rows: 3fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 5px;
  }
  .container header img {
    max-width: 100%;
    width: 100%;
  }
  .container header .photo {
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
    z-index: -2;
  }
  .container header .hello {
    width: 70%;
    margin: 0 auto;
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container header .hello .orange {
    position: absolute;
    z-index: -1;
    background-color: #eac428;
    height: 210%;
    width: 13%;
    border-radius: 5%;
    display: block;
    top: -110%;
  }
  .container header .hello .name span {
    padding-left: 60px;
  }
  .container header .hello h1 {
    text-align: start;
  }
  .container header .contacts {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .container header .contacts h3 {
    margin: 0;
  }
  .container header .contacts .phone, .container header .contacts .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container header .contacts .phone p, .container header .contacts .email p {
    margin: 0 0 5px 5px;
    line-height: 30px;
  }
  .container .SkLg {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .container .SkLg .skills {
    margin: 0 auto;
    max-width: 75%;
  }
  .container .SkLg .skills h3 {
    border-bottom: none;
  }
  .container .SkLg .skills .skillsList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .SkLg .languages {
    margin: 0 auto;
    max-width: 75%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .container .SkLg .languages h3 {
    margin-top: 25px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column-align: start;
        justify-self: start;
    border-bottom: none;
    width: 100%;
  }
  .container .SkLg .languages div {
    background-color: #eac428;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 70px;
    height: 70px;
  }
  .container .SkLg .languages div p {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-right: 5px;
  }
  .container .SkLg .languages div p:last-child {
    text-align: end;
  }
  .container .SkLg .languages .english {
    margin-top: 20px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .container .SkLg .languages .polish {
    margin-top: 20px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
  .container .SkLg .languages .polish p {
    margin-left: 5px;
  }
  .container .SkLg .languages .ukrainian {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    grid-row: 3/3;
  }
  .container .SkLg .languages .ukrainian p:first-child {
    margin-left: -9px;
    margin-top: 18px;
  }
  .container .aboutMe {
    margin-top: 25px;
    padding-top: 25px;
    padding-left: 25px;
    border-left: 2px solid #eac428;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    max-width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0,5fr 2fr 2fr 2fr 1fr 1fr;
        grid-template-rows: 0,5fr 2fr 2fr 2fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container .aboutMe .target {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .container .aboutMe .work {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .container .aboutMe .education {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    border-left: none;
  }
  .container .aboutMe .certificats {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .container .aboutMe .certificats .certificatsCont {
    padding: 0 5% 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .aboutMe .certificats .certificatsCont div {
    width: 40%;
  }
  .container .aboutMe .projects {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .container .aboutMe .hobbies {
    border-left: none;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eac428;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25% 0 25%;
  }
  .container footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container footer div .liksFooter {
    line-height: 37px;
  }
}

@media (min-width: 1280px) {
  .container {
    position: relative;
    font-size: 20px;
    max-width: 1280px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .container #modal {
    width: 1280px;
    padding: 0 0 0 15%;
  }
  .container .orangeSquare {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
    height: 250px;
    background-color: #eac428;
    left: 1150px;
  }
  .container a {
    text-decoration: none;
  }
  .container a:hover {
    font-weight: 800;
    cursor: pointer;
  }
  .container header {
    -ms-grid-rows: 1fr 0.5fr 0.5fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
  }
  .container header .hello {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .container header .hello h1 {
    font-size: 50px;
  }
  .container header .hello .name span {
    padding-left: 40px;
  }
  .container header .contacts {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    width: 90%;
    margin: 0 0 0 0;
    -ms-grid-column-align: right;
        justify-self: right;
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .container header .contacts h3 {
    margin: 20px 0 0 20px;
    font-size: x-large;
  }
  .container header .contacts .phone, .container header .contacts .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container header .contacts .phone p {
    margin: 5px 0 15px 20px;
  }
  .container header .contacts .email h3 {
    margin: 0 0 0 20px;
  }
  .container header .contacts .email p {
    margin: 5px 0 20px 20px;
  }
  .container .SkLg {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 75%;
    margin: 0 auto;
  }
  .container .SkLg .skills {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
  .container .SkLg .skills h3 {
    margin-top: 0;
    border-bottom: none;
    margin-bottom: 25px;
  }
  .container .SkLg .skills .skillsList {
    margin-bottom: 57px;
  }
  .container .SkLg .skills .skillsList .scillsClass {
    width: 140px;
    height: 15px;
  }
  .container .SkLg .languages {
    max-width: 100%;
    margin: 0 auto;
  }
  .container .SkLg .languages h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .container .SkLg .languages div {
    width: 100px;
    height: 100px;
  }
  .container .SkLg .languages div p {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-right: 5px;
  }
  .container .SkLg .languages div p:last-child {
    text-align: end;
  }
  .container .SkLg .languages .english p {
    padding-right: 14px;
  }
  .container .SkLg .languages .polish p:last-child {
    padding-right: 14px;
  }
  .container .SkLg .languages .ukrainian p:last-child {
    padding-right: 14px;
  }
  .container .aboutMe {
    margin: 0 0 0 20px;
    margin-top: 30px;
    padding-top: 55px;
    padding-left: 0;
    border-left: 2px solid #eac428;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    max-width: 80%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0,5fr 2fr 2fr 2fr 1fr 1fr;
        grid-template-rows: 0,5fr 2fr 2fr 2fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container .aboutMe .paddingsInside {
    padding-left: 25px;
  }
  .container .aboutMe .borderClass {
    border-bottom: 2px solid #eac428;
    padding-right: 25px;
    font-size: x-large;
  }
  .container .aboutMe article h3 {
    padding-left: 0;
    border: none;
  }
  .container .aboutMe .target {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .container .aboutMe .target p {
    margin-top: 25px;
  }
  .container .aboutMe .work {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .container .aboutMe .education {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    border-left: none;
    display: -ms-grid;
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 3fr 3fr;
  }
  .container .aboutMe .education h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .container .aboutMe .education div:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .container .aboutMe .education div:nth-of-type(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .container .aboutMe .education div:nth-of-type(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .container .aboutMe .certificats {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .container .aboutMe .certificats .certificatsCont {
    padding: 0 5% 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .aboutMe .certificats .certificatsCont div {
    width: 40%;
  }
  .container .aboutMe .certificats .certificatsCont div:hover {
    cursor: pointer;
    width: 42%;
  }
  .container .aboutMe .projects {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .container .aboutMe .hobbies {
    border-left: none;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eac428;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25% 0 25%;
  }
  .container footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container footer div .liksFooter {
    line-height: 37px;
  }
}
/*# sourceMappingURL=main.css.map */