@media (min-width: 480px){
    .container{
        max-width: 480px;
        header{
            .hello{
                h1{
                    margin-top: 25px;
                }
            }
        }
        .SkLg{
            .skills{
              .skillsList{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .scillsClass{
                   margin-left: 5px;
                }
              }
            }
        }
    }
}
