@media (min-width: 1024px){
    .container{
        #modal{
            width: 1024px;
            padding: 10% 0 0 10%;
        }
        max-width:1024px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 2fr;
        header{
            grid-row: 1/1;
            grid-column: 1/2;
            max-width: 100%;
            display: grid;
            grid-template-rows: 3fr 1fr 1fr;
            grid-template-columns: 1fr;
            justify-items: center;
            margin-top: 5px;
    
            img{
                max-width: 100%;
                width: 100%;
            }
            .photo{
                width: 100%;
                height: 100%;
                grid-column: 1/2;
                grid-row: 1/1;
                z-index: -2;
                
            }
            .hello{
               
                width: 70%;
                margin: 0 auto;
                grid-column: 1/1;
                grid-row: 2/3;
                align-self: center;
                .orange{
                    position: absolute;
                    z-index: -1;
                    background-color: $colorAdd;
                    height: 210%;
                    width: 13%;
                    border-radius: 5%;
                    display: block;
                    top:-110%;
                }
                .name{
                    span{
                        padding-left: 60px;
                    }
                }
                h1{
                    text-align: start;
                }
            }
            .contacts{
                align-self: center;
                grid-column: 1/1;
                grid-row: 3/4;
                
                h3{
                    margin: 0;
                   
                }
                .phone,.email{
                    p{
                        margin: 0 0 5px 5px;
                        line-height: 30px;
                        
                    }
                    display: flex;
                    flex-direction: column; 
                }
            }
        }
       
        .SkLg{
            grid-row: 2/3;
            grid-column: 1/2;
            .skills{
                margin: 0 auto;
                max-width: 75%;
                h3{
                    border-bottom: none;
                }  
                .skillsList{
                    flex-direction: column;
                }
            }
            .languages{
                margin: 0 auto;
                max-width: 75%;
                display: grid;
                justify-items: center;
                h3{
                    margin-top:25px;
                    grid-column: 1/5;
                    grid-row: 1/1;
                    justify-self: start;
                    border-bottom: none;
                    width: 100%;
                    
                }
                div{
                    background-color: $colorAdd;
                    transform: rotate(45deg);
                    width:70px;
                    height: 70px;
                    p{
                        transform: rotate(-45deg); 
                        margin-right:5px;
                        &:last-child{
                            text-align: end;
                        }
                    }
                }
                .english{
                    margin-top: 20px;
                    grid-column: 1/3;
                    grid-row: 2/2;
                }
                .polish{
                    margin-top: 20px;
                    grid-column: 3/5;
                    grid-row: 2/2;
                    p{
                        margin-left: 5px;
                    }
                }
                .ukrainian{
                    grid-column: 2/4;
                    grid-row: 3/3;
                    p:first-child{
                        margin-left: -9px;
                        margin-top: 18px;
                    }
                    
                }
            }
        }
        .aboutMe{
            margin-top: 25px;
            padding-top: 25px;
            padding-left: 25px;
            border-left:2px solid $colorAdd ;
            grid-row: 1/3;
            grid-column: 2/4;
            max-width: 80%;
            display:grid;
            grid-template-rows: 0,5fr 2fr 2fr 2fr 1fr 1fr;
            grid-template-columns: 1fr;
            .target{
                grid-column: 1/3;
                grid-row: 1/1;
            }
            .work{
                grid-column: 1/3;
                grid-row: 4/5;
            }
            .education{
                grid-column: 1/3;
                grid-row: 2/3; 
                border-left:none;
            }
            
            .certificats{
                grid-column: 1/3;
                grid-row: 3/4;
            
                .certificatsCont{
                    padding:0 5% 0 5%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    flex-wrap: wrap;
                    div{
                    width: 40%;
                    }
                }
                
            
            }
            .projects{
                grid-column: 1/3;
                grid-row: 5/6;
            }
            .hobbies{
                border-left:none ;
                grid-row: 6/7;
                grid-column: 1/3;
            }
        
        }
        footer{
            grid-column: 1/3;
            display: flex;
            background-color: $colorAdd;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 25% 0 25%;
           div{
               display: flex;
               flex-direction: row;
               justify-content: flex-start;
               .liksFooter{
                   line-height: 37px;
               }
               
           }
        }
    }
   
}